<% provide(:title, "Bookshelf") %>

<h1>The bookshelf<br></h1>


<p>Books highlighted in green were personally life-altering and those in yellow were at least very strong and memorable. I stole 
this idea from <a href="https://patrickcollison.com/">Patrick Collison</a>'s website. <br><br><br></p>

  <p style="color:green;">Think and Grow Rich - Napoleon Hill, 1937<br></p>
  <p style="color:green;">How to Win Friends and Influence People - Dale Carnegie, 1936<br></p>
  <p>The Art of the Deal - Donald Trump, 1987<br></p>
  <p style="color:green;">Sapiens - Yuval Noah Harari, 2015<br></p>
  <p style="color:yellow;">The Art of War - Sun Tzu, 5th century BC, tr. Lionel Giles, 1910<br></p>
  <p style="color:yellow;">The Lean Startup - Eric Ries, 2011<br></p>
  <p style="color:green;">Zen Mind, Beginner's Mind - Shunryu Suzuki, 1959-71, compiled by Trudy Dixon, 2006<br></p>
  <p>The Republic of Plato - Plato, 375 BC Eric Ries, tr. Benjamin Jowett, 1871<br></p>
  <p style="color:green;">Going to Meet the Man - James Baldwin, 1948<br></p>
  <p>Slaughterhouse-Five - Kurt Vonnegut, 1969<br></p>
  <p style="color:green;">The Wealthy Barber - David Chilton, 1996<br></p>
  <p>Don Quixote - Miguel de Cervantes, 1615<br></p>
  <p>Bronze Age Mindset - BAP<br><p>
  <p>...And More!</p>

<h1>On the list<br></h1>

<p>
Getting to Yes - Roger Fisher<br>
The Intelligent Investor<br>
The Little Book of Valuation - Aswath Damodaran<br>
Principles - Ray Dalio<br>
Start with Why - Simon Sinek<br>
The 4-Hour Workweek - Timothy Ferriss<br>


</p>