<% provide(:title, "Bookshelf") %>

<h1>The bookshelf<br></h1>


<p>Books highlighted in green are personally life changing and those in yellow are very good. I stole 
this idea from <a href="https://patrickcollison.com/">Patrick Collison</a>'s website. <br><br><br></p>

  <p style="color:green;"> Think and Grow Rich - Napoleon Hill (1937)<br></p>
  <p style="color:green;"> How to Win Friends and Influence People - Dale Carnegie (1936)<br></p>
  <p>The Art of the Deal - Donald Trump (1987)<br></p>

<h1>On the list<br></h1>

<p>
Getting to Yes - Roger Fisher<br>
The Intelligent Investor<br>
The Little Book of Valuation - Aswath Damodaran<br>
Principles - Ray Dalio<br>
Start with Why - Simon Sinek<br>
The 4-Hour Workweek - Timothy Ferriss<br>


</p>