<% provide(:title, "Projects: C/C++") %>
<h1>Project: C/C++</h1>
<p class="essay">
I completed this project, Connect Four, in CS230: Computer Systems Principles. The requirements were create 
make a functioning interactive game of connect four in C. 
Don't worry, you don't need any fancy IDE or even a friend to play. You can play against my robot in the 
terminal below. Just hit the green 'Run' button and follow the instructions in the lower panel.



</p>
<iframe height="100%px" width="100%" src="https://repl.it/@EricTrimble/ConnectFourC?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>