<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Please feel free to reach out to me by email at <a href="mailto:trimbware@gmail.com">trimbware@gmail.com</a>, <br>
  or connect with me on LinkedIn at <a href="https://www.linkedin.com/in/eric-t-02ab2813b/">https://www.linkedin.com/in/eric-t-02ab2813b/</a>
</p>