<% provide(:title, "Home") %>


  <h1>Welcome</h1>

  <h2>Please feel free to explore my projects, my bookshelf, and anything else here!</h2>

</div>
<%#= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="eric-t-02ab2813b">
<a class="LI-simple-link" href='https://www.linkedin.com/in/eric-t-02ab2813b?trk=profile-badge'>Eric Trimble</a></div>