<% provide(:title, "Projects") %>
<h1>Projects</h1>
<p class="essay">
<span class="tab"></span>Over the years, I have had the opportunity to work on a number of different technologies. Some of these experiences 
have been curated by my classes at UMass Amherst, some by my mentors at Fidelity Investments, and some have been pursued 
personally due to pure interest in seeking new ways to provide value to the world.
<br>
<span class="tab"></span>Here are some of my favorite projects I have worked on broken down by specific coding language or skill. 
I hope this inspires you as well as it has me!
</p>

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src=".../100px160/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Connect Four</h5>
      <p class="card-text">This is an interactive game of Connect-Four that anyone can play from the command line, complete with a bot to play against. 
      I coded this for CS230: Computer Systems Principles, a class taught entirely in C.</p>
      <a href="/projects/connectfour" class="btn btn-primary">View Project</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src=".../100px160/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Coming soon...</h5>
      <p class="card-text">Check back for when I upload more projects!</p>
      <a href="#" class="btn btn-primary">View Project</a>
    </div>
  </div>

  <div class="card" id="web-development">
    <img class="card-img-top" src=".../100px160/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">This Website</h5>
      <p class="card-text">I coded this website using Ruby on Rails, a web-development framework that combines at least five underlying technologies, tying them together
      to create one seamless user-facing website. Click here to learn more.</p> 
      <a href="/projects/website" class="btn btn-primary">View Project</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Coming soon...</h5>
      <p class="card-text">Check back for when I upload more projects!</p>
      <a href="#" class="btn btn-primary">View Project</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Coming soon...</h5>
      <p class="card-text">Check back for when I upload more projects!</p>
      <a href="#" class="btn btn-primary">View Project</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Coming soon...</h5>
      <p class="card-text">Check back for when I upload more projects!</p>
      <a href="#" class="btn btn-primary">View Project</a>
    </div>
  </div>

</div>



</div>