<% provide(:title, "Projects") %>
<h1>Projects</h1>
<p><center>
Over the years, I have had the opportunity to work on a number of different technologies. Some of these experiences <br>
have been curated by my classes at UMass Amherst, some by my mentors at Fidelity Investments, and some have been pursued <br>
personally due to pure interest in seeking new ways to provide value to the world. <br>
Here are some of my favorite projects I have worked on broken down by specific coding language or skill. <br>
I hope this inspires you as well as it has me! <br>
</center></p>
