<% provide(:title, "Projects: Personal Website") %>
<h1>Personal Website</h1>
<p class="essay">
HTML5, JavaScript and CSS for the frontend, user-facing display, Ruby for the back-end logic, SQLite for the database, and Rails to tie in all the components.
I deploy the website and host it for free using Heroku.
</p>