<footer class="footer">
  <small>
    Eric Trimble - 2020 - inspired by Michael Hartl's Ruby on Rails expertise.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>